<table class="table table-hover">
  <colgroup>
      <col style="width: 50%;">
      <col style="width: 50%;">
  </colgroup>
<thead>
  <tr>
    <th>Requests</th>
    <th>Year</th>
  </tr>
</thead>
<tbody>
  <% @yearly_requests.each do |timestamp, count| %>
    <tr onclick="location.href='<%= clients_for_year_admin_reports_path(created_year: timestamp) %>'">
      <td><%= count %></td>
      <td><%= timestamp %></td>
    </tr>
  <% end %>
</tbody>
</table>
