/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* To accommodate for navbar */
body { padding-top: 50px; }

/* Green branding of navbar */
.navbar-inverse {
  background-color: #262;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #484;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #373;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #fff;
}

/* Navbar flush against breadcrumbs */
.navbar {
  border: 0px;
  margin-bottom: 0;
}

/* Invert the breadcrumb color scheme */
.breadcrumb {
  background-color: #484;
  box-shadow: 0px 6px 20px rgba(1, 1, 1, .25);
  border-radius: 0;
}

.breadcrumb a, .breadcrumb li.active {
  color: white;
}

/* We don't want listing tables to wrap, and we want them to take the full width */
table.listing td {
  max-width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.padding-left-small {
  padding-left: 15px;
}
