/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

$navbar-inverse-bg: #262;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-active-bg: #484;
$navbar-inverse-link-hover-bg: #373;

.alert-notice {
  // notice is common among rails applications
  @extend .alert-info;
}

.alert-alert {
  // used by at least activeadmin and devise
  @extend .alert-warning;
}

.alert-error {
  // set by activeadmin
  @extend .alert-danger;
}

$navbar-inverse-toggle-active-bg: $navbar-inverse-link-active-bg;
$navbar-inverse-toggle-hover-bg: $navbar-inverse-link-hover-bg;
$navbar-inverse-toggle-border-color: transparent;

@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: $navbar-height + $navbar-margin-bottom; }

/* We don't want listing tables to wrap, and we want them to take the full width */
table.listing td {
  max-width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.padding-left-small {
  padding-left: 15px;
}
